{{>partial_header}}
module {{packageName}}

using Random
using Dates, TimeZones
using OpenAPIClient
import OpenAPIClient: field_name, property_type, hasproperty, validate_property, APIImpl, APIModel
import Base: convert, propertynames

include("modelincludes.jl")
{{#apiInfo}}{{#apis}}
include("api_{{classname}}.jl"){{/apis}}{{/apiInfo}}

export check_required, field_name, property_type, hasproperty, propertynames, validate_property, convert

# export models
{{#models}}{{#model}}export {{classname}}
{{/model}}{{/models}}
# export operations
{{#apiInfo}}{{#apis}}export {{classname}}
{{/apis}}{{/apiInfo}}
end # module {{packageName}}
